*{
    margin: 0;
    padding: 0;
}

.header{
    min-width: 100%; 
    height: 1080px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.head-logo{
    width: 2071px;
    height: 120px;
    background-color: #FA8072;
    position: sticky;
    top: 0;
    z-index: 2;


}

.logo{
    width: 130px;
    padding: 1.2% 1.5%;
    justify-content: space-around;
    position: absolute;
    left: 43.5%;
    top: 1%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.text-box{
    font-size: 50px;
    color: white;
    font-family: 'Teko', sans-serif;
    position: absolute;
    left: 33%;
    top: 15%;
    z-index: 1;
       
}

.buttonVisit{
    border: 1px solid white;
    padding: 15px 32px;
    font-family: 'Teko', sans-serif;
    background-color: transparent;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 43.5%;
    height: 50px;
    width: 120px;
    font-size: 45px;
    color: white;
}

.buttonVisit:hover{
    background-color: #FA8072;
    color: white;
    transition: 1s;
    border-color: transparent;
}

.article{
    font-family: 'Teko', sans-serif;
}

.aboutus{
    text-align: center;
    position: absolute;
    top: 130%;
    left: 42%;
    font-size: 100px;
}

.line{
    width: 500px;
    height: 47px;
    border-bottom: 3px solid black;
    position: absolute;
    top: 140%;
    left:35%
}
.article .sefFounder{
    display: flex;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 1602px;
    left: 30px;
}
.article .helyszinLocation{
    display: flex;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 1602px;
    left: 650px;
}

.article .kajaFood{
    display: flex;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 1602px;
    right: 30px;
}


html{
    scroll-behavior: smooth;
}

.oldalNavigacioMenu {
  height: 2000px; 
  width: 0px; 
  position: fixed; 
  z-index: 4; 
  top: 0; 
  left: 0;
  background-color: #FA8072; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.oldalNavigacioMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  font-size: 50px;
  transition: 0.3s;
}


.oldalNavigacioMenu a:hover {
  color: #f1f1f1;
}


.oldalNavigacioMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menuGombPozicio{
    position: absolute;
    z-index: 3 ;
    top: 25%;
    left: 3%;
}

.menuGombPozicio:hover{
    cursor: pointer;
}

.container {
    display: flex;
    position: auto;
}
.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    opacity: 0;
    background-color: burlywood;
}
.container:hover .overlay{
    opacity: 1;
}   
.text {
    color: white;
    font-size: 35px;
    position: absolute;
    font-family: teko-sans-serif;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


  
